header {
    padding: 0 10px;
    background-image: url(img/background-header-mobile.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
    
    h1 {
        font-size: 35px;
        font-family: griffith-gothic-condensed, sans-serif;
        color: white;
        font-weight: 900;
        margin-top: -23px;
    
    }


    // #decoration {
    //     position: absolute;
    //     height: 393px;
    //     top: 0;
    //     right: -4px;
    //     z-index: 2;
    // }

    #picture-worker {
        margin-left: -10px;
        margin-top: 25px;
        z-index: 1;
        width: 95%;
        
    }
    

    .logo-img {
        width: 35%;
        padding-top: 20px;
    }

    .decoration-line {
        position: absolute;
        width: 25%;
        top: 0;
        right: 0;
        display: block;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;

        &.pink {
            background-image: url(img/line-pink.png);
            right: -39px;
            z-index: 2;
            top: -13px;
            width: 40%;
        }

        &.green {
            background-image: url(img/line-green.png);
            right: -20px;
            z-index: 0;
            top: -8px;
            width: 40%;
        }

        &.black {
            background-image: url("img/line-black.png");
            right: -1px;
            width: 40%;
        }
    }

    nav ul {
        display: none;
    }

    button {
        img {
            &#burger-menu-close {
                display: none;
            }
        }
    }

    p {
        font-size: 13px;
        color: #333333;
        font-family: 'DM Sans';
        width: 65%;
        margin-left: 87px;

        &.recuperamos-y-distribuimos {
            margin-top: 55px;
        }
    }
}
